/* === CSS Reset === */

/* Remove border and padding */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default list bullet/number from list elements*/
ul,
ol,
dl,
li {
  list-style: none;
}

/* Remove underline and outline from link elements */
a {
  text-decoration: none;
  outline: none;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Hiding scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hiding scrollbar for IE, Edge and Firefox */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* === Accessibility === */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* === General === */

/* Set variables for colours and default font*/
:root {
  --primary: #000000;
  --secondary: #202020;
  --highlight: #ffffff;

  font-family: "Roboto", sans-serif;
}

/* Set background properties */
html {
  background-color: var(--primary);
  background-image: none;
}

/* Adds smooth scrolling to any links to other parts of the same page */
html:focus-within {
  scroll-behavior: smooth;
}

/* === Text === */

/* Set default styles for all heading elements */
.heading-text {
  font-family: inherit;
  font-size: clamp(2rem, 4.5vw, 2.5rem);
  font-weight: 100;
  color: var(--highlight);
  text-align: left;
  line-height: normal;
}

/* Set default styles for all subheading elements */
.subheading-text {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  color: var(--highlight);
  text-align: left;
  line-height: normal;
}

/* Set default styles for all paragraph elements */
.paragraph-text {
  font-family: inherit;
  font-size: clamp(1rem, 3vw, 1.25rem);
  font-weight: 200;
  color: var(--highlight);
  text-align: left;
  line-height: normal;
}

/* Set default styles for all form title elements */
.form-title-text {
  font-family: inherit;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 700;
  color: var(--highlight);
  text-align: left;
  line-height: normal;
}

/* Set default styles for all section title elements */
.section-title-text {
  font-family: inherit;
  font-size: clamp(1.25rem, 4vw, 1.5rem);
  font-weight: 500;
  color: var(--highlight);
  text-align: left;
  line-height: normal;
}

/* === Design breakpoints === */

/* Mobile */
@media screen and (max-width: 640px) {
  .stock-images {
    display: none !important;
  }
  #socials-container {
    display: none;
  }
  .form-title {
    font-size: 5px;
  }
  .info-row {
    flex-direction: column;
    align-items: center !important;
  }
  .info-row img {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: auto;
  }
  .dots {
    display: none;
  }
  #section-1 .input-row {
    display: grid;
    grid-template-columns: [input]100%;
  }
  #section-1 label {
    grid-column: input / span 2;
    grid-row: row;
  }
  #section-1 .input-row input:nth-of-type(1) {
    grid-column: input / span 1;
    grid-row: row 2;
    width: calc(100% - 5px);
  }
  #section-2 .input-row {
    display: grid;
    grid-template-columns: repeat(3, [input] 33%);
  }
  #section-2 label {
    grid-column: input / span 3;
    grid-row: row;
  }
  #section-2 .input-row input:nth-of-type(1) {
    grid-column: input / span 1;
    grid-row: row 2;
    width: calc(100% - 5px);
  }
  #section-2 .input-row input:nth-of-type(2) {
    grid-column: input 2 / span 1;
    grid-row: row 2;
    width: calc(100% - 5px);
  }
  #section-2 .input-row input:nth-of-type(3) {
    grid-column: input 3 / span 1;
    grid-row: row 2;
    width: calc(100% - 5px);
  }
  #section-2 .title-row {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  #section-2 .title-row .dimensions {
    width: 100%;
  }

  #section-3 .input-row {
    display: grid;
    grid-template-columns: repeat(2, [input] 50%);
  }
  #section-3 label {
    grid-column: input / span 2;
    grid-row: row;
  }
  #section-3 .input-row input:nth-of-type(1) {
    grid-column: input / span 1;
    grid-row: row 2;
    width: calc(100% - 5px);
  }
  #section-3 .input-row input:nth-of-type(2) {
    grid-column: input 2 / span 1;
    grid-row: row 2;
    width: calc(100% - 5px);
  }
  #section-3 .title-row {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  #section-3 .title-row .dimensions {
    width: 100%;
  }
  #section-3 .full-row input {
    grid-column: input / span 3 !important;
    grid-row: row 2 !important;
  }
  #section-3 .full-row #date-input {
    grid-column: input / span 3 !important;
    grid-row: row 2 !important;
  }
  .dimensions p {
    width: auto !important  ;
  }
  .footer-container {
    flex-direction: column;
  }
  .decorative-shape {
    display: none !important;
  }
  #mobile-info {
    display: block !important;
  }
}

/* Tablet */
@media screen and (min-width: 641px) and (max-width: 1007px) {
  .stock-images {
    display: none !important;
  }
  .decorative-shape {
    display: none !important;
  }
  #mobile-info {
    display: block !important;
  }
  #section-1 .info-row {
    gap: 20px;
  }
  #section-3 .full-row input {
    width: clamp(106px, calc(20vw + 6px), 306px) !important;
  }
}

/* Laptop */
@media screen and (min-width: 1008px) {
  #section-3 .full-row input {
    width: clamp(106px, calc(20vw + 6px), 306px) !important;
  }
}

/* === Header === */

/* Set out layout for the header */
header {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  z-index: 10;
}

/* Sets width and alignment of logo */
#logo {
  width: clamp(200px, 50%, 300px);
  align-items: center;
}

/* === Info Section === */
#information {
  padding: 0 10vw;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*  */
#section-title {
  padding: 7px 0;
  display: flex;
  justify-content: center;
  background-color: var(--secondary);
  border-top: 1px solid var(--highlight);
  position: relative;
  z-index: 10;
}

.decorative-shape {
  border-radius: 0 0 140px 140px;
  width: 400px;
  height: 530px;
  border-left: 0.1px solid var(--highlight);
  border-right: 0.1px solid var(--highlight);
  border-bottom: 0.1px solid var(--highlight);
  z-index: 0;
}

#decorative-shape-1 {
  padding: 0 50px 100px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
}

.decorative-image {
  width: 200px;
  height: 200px;
  aspect-ratio: 1 / 1;
}

#images {
  display: grid;
  grid-template-columns: repeat(4, [image] 100px);
  grid-template-rows: [row]200px [row]200px;
}

#decorative-image-1 {
  grid-column: image / span 2;
  grid-row: row;
}

#decorative-image-2 {
  grid-column: image 3 / span 2;
  grid-row: row;
}

#decorative-image-3 {
  grid-column: image 2 / span 2;
  grid-row: row 2;
}

#mobile-info {
  display: none;
  margin: 40px 0;
}

/* === Form === */

/* Sets the padding for the form */
#form {
  padding: 50px 10vw;
}

/* Sets size of the logo image at the top of the form */
#form img {
  height: clamp(20px, 5vw, 100px);
}

/* Ensures square corners on all input boxes on all browsers */
input {
  border-radius: 0;
}

/* Sets border, padding and size for the form container */
#form-container {
  border: 0.5px solid var(--highlight);
  width: 100%;
  height: auto;
  padding: 20px 5vw;
}

/* Sets the size, alignment and padding for all the rows in the form */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

/* Sets the alignment for all the title rows in the form */
.title-row {
  justify-content: space-between;
}

/* === Form Section 1 === */

/* Aligns the text in the information row in section 1 */
#line-3,
#line-4 {
  display: flex;
  justify-content: space-between;
}

#section-1 div:nth-of-type(5) input {
  width: 100%;
  margin: 0 3px;
}

/* === Form Section 2 === */

/*  */

/* === Form Section 3 === */

.input-row {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 5px 0;
}

label {
  margin-bottom: 2px;
}

#form-item {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dots {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.dimensions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dimensions p {
  width: clamp(50px, 10vw, 150px);
  margin: 0 3px;
  text-align: center;
}

#section-1,
#section-2,
#section-3 {
  padding: 0 0 50px 0;
}

input:focus {
  outline: none;
}

#drawingCanvas {
  border: 2px solid #fff;
  background-color: #000000;
  width: 100%;
  height: 100px;
}

#date-input {
  height: 23px;
}

#date-input input {
  height: 100%;
}

/* Reuben */
input[type="readonly"] {
  border: 4px solid white;
}

input[type="number"],
input[type="text"],
input[type="date"] {
  margin: 0 3px;
  padding: 2px 3px;
  width: clamp(50px, 10vw, 150px);
  border: 1px solid #fff;
  background: none;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Change color using invert filter */
}

.sum-box {
  width: 160px;
  height: 18px;
  flex-shrink: 0;
  border: 3px solid #fff;
  margin-left: 5px;
  color: #ffffff;
}

.submit-button {
  width: 212.8px;
  max-width: 100%;
  height: 81.6px;
  flex-shrink: 0;
  border: 2px solid #fff;
  background: none;
  color: white;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 83.333% */
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.submit-container {
  display: flex;
  justify-content: space-around;

  padding: 50px 20vw;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 50px 10vw;
  padding-left: none;
  height: 300px;
}

.footer-item-2 {
  height: 100%;
}

.spacer {
  width: 1px;
  height: 100%;
  flex-shrink: 0;
  background: #272727;
  margin-left: 30px;
  margin-right: 30px;
}

.footer-text {
  font-family: inherit;
  font-size: 15px;
  font-weight: 200;
  color: white;
  text-align: left;
  line-height: normal;
  margin-bottom: 30px;
  width: auto !important;
}

.img-footer {
  width: 300px;
}

.footer-title-text {
  color: #fff;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px; /* 123.81% */
}

.hyperlink-colour {
  color: #FFFFFF;
  border-bottom: 0.5px solid rgb(255, 255, 255);
  transition: 0.5s;
}

.hyperlink-colour:hover {
  color: #00adb5;
  border-bottom: 0.5px solid #00adb5;
  transition: 0.5s;
}
